# Dependencies
node_modules/
.pnp
.pnp.js
.yarn/install-state.gz

# Next.js
.next/
**/.next/
out/
build/

# Production
dist/

# Misc
.DS_Store
*.pem
*.log

# Environment variables
.env
.env*.local

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# TypeScript
*.tsbuildinfo

# Vercel
.vercel
